p{
	color: red;
}
.tabel{
	border: 1px solid black;
	box-align: center;
	position: relative;
	left: 30px;
	width: 700px;
}
.header{
	width: 500px;
}
.foto{
	width: 80px;
	height: 100px;
	align-items: center;
}

.colspa{
	  column-span: ;
}