.tabel{
	border: 1px solid black;
	position: relative;
	left: 30px;
	width: 650x;
	background-color: cadetblue
}
.header1{
	background-color: blue;
	width: 250px;
}
.header2{
	background-color: blue;
	width: 400px;
}
.foto{
	width: 80px;
	height: 100px;
	align-items: center;
}
.tabel1{
	border: 1px solid black;
	width: auto;
}
td{
	background-color: grey;
}

.hijau{
	color: green
}

.panjang{
	width: 645px
}
