h1{
	text-align: center;
	color: indigo;
	margin: 1cm;
	padding: 1cm;
	border: 5mm;
}
.sett{
	color: wheat;
	text-align: justify;
	margin-left: 1cm;
	margin-right: 1cm;
	padding-right: 1cm;
	padding-left: 1cm;
	border: 5mm;
}
.gaya-h{
	text-align: center;
	color: white;
}
.gambar{
	text-align: center;
}
body{
	background: blue
}