h1{
	text-align: center;
	color: blue;
}
p{
	color: black;
	text-align: justify;
	margin: 7cm;
	padding: 5cm;
	border: 2cm;
	background: brown;
}

.margin{
	margin: 5px: 5p;
	padding: 5px;
	border: 3px;
}