h1{
	text-align: center;
	color: blue;
	margin: 1cm;
	padding: 1cm;
	border: 5mm;
}
.sett{
	color: black;
	text-align: justify;
	margin-left: 1cm;
	margin-right: 1cm;
	padding-right: 1cm;
	padding-left: 1cm;
	border: 5mm;
	position: absolute;
}
.gaya-h{
	text-align: center;
	color: black;
}
.gambar{
	text-align: center;
}