.tabel{
	border:1px solid black;
	position: relative;
	left: 350px;
	width: 650px;
	background-color: cadetblue
}
.header1{
	background-color: blue;
	width: 250px;
	color: white;
}
.header2{
	background-color: blue;
	width: 400px;
	color: white;
}
.header3{
	background-color: blue;
	width: 648px;
	color: white;
}
.foto{
	width: 120px;
	height: 150px;
	align-items: center;
}
.tabel1{
	border: 1px solid black;
	width: auto;
}
td{
	background-color: grey;
}

.hijau{
	color: green;
}
.panjang{
	width: 645px;
}
body{
	font-family: cambria;
	background-image: url(./foto/sativa.png);
}

.judul{
	font-size: 30pt;
}